.small_scrollbar {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: lightgray transparent;
  /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari, etc.) */
.small_scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Adjust the width as needed */
}

.small_scrollbar::-webkit-scrollbar-thumb {
  background-color: lightgray;
  /* Scrollbar color */
  border-radius: 10px;
  /* Optional: Rounds the scrollbar edges */
}

.small_scrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* Scrollbar track color */
}

.noFolders {
  height: 50px;
  border-radius: 10px;
  font-weight: 600;
  color: gray;
  font-size: 18px;
  background: white !important;
  display: flex;
  align-items: center;
  height: 400px;
  justify-content: center;
}

.fetchingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px);
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
}
