node_modules

venv

DMS.pem

DMS.ppk

DMS_ssh_connection.txt 

child-roots

coolwsd.xml.save


migrations
/app/backend-postgres/prisma/migrations
*.sql


app/frontend/node_modules/
app/backend-postgres/node_modules/

app/support/venv/