/* SearchDocument.module.css */
.container {
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    border-radius: 8px;
    color: #000000;
    /* Changed text color to black for better contrast */
}

.textField {
    background-color: #F0F0F0;
    /* Light background for text fields */
}

.select {
    background-color: #F0F0F0;
    /* Light background for select fields */
}

.button {
    color: #FFFFFF;
}

/* SearchDocument.module.css */
.resultCard {
    margin: 10px 0;
    border: 2px solid lightgray;
    border-radius: 10px;
}