.formContainer {
    margin-top: 90px;
    width: 100%;
}

.workflowItem {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.workflowContent {
    padding: 3px;
}
.workFlowElements{
    padding: 7px 7px 7px 10px;
    margin: 15px;
    display: flex;
    border-left: 4px solid #6C22A6;
    border-radius: 5px;
    background-color: #eeeeee;
}
.workflowIndex {
    /* position: absolute; */
    /* left: 50%; */
    border-radius: 10px;
    height: 35px;
    width: 100px;
    display: flex;
    margin: 0 auto;
    margin-top: -15px;
    align-items: center;
    color: white;
    justify-content: center;
    background-color: #b574b5;
    /* top: 0;
    transform: translateX(-50%); */
    text-align: center;
}

.workflowArrow {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0 10px;
}

.DocList {
    /* overflow: auto; */
    padding: 2px;
    /* height: 63vh; */
    max-width: 100%;
}

.DocList::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.DocList::-webkit-scrollbar-thumb {
    background-color: #2196f3;
    border-radius: 6px;
}

.DocList::-webkit-scrollbar-track {
    background-color: rgb(229, 229, 229);
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    .workflowContent {
        font-size: 12px;
    }

    .padding {
        padding: 7px !important;
    }
}

/* Media query for medium screens (md) */
@media screen and (min-width: 601px) and (max-width: 960px) {
    .workflowContent {
        font-size: 12px;
    }

    .padding {
        padding: 10px !important;
    }
}