.filePartOne {
    height: 40%;
    position: relative;
}

.filePartTwo {
    height: 60%;
    padding: 5px;
}

.fileHeading {
    height: 30%;
    /* background-color: rgb(255 146 45); */
    background-color: lightblue;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fileNameContainer {
    height: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid white;
    /* background-color: rgb(149, 149, 194); */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    /* Adjust the margin as needed for spacing */
}

.tableContainer {
    margin: 0 auto;
    max-height: 450px !important;
    overflow: auto;
}

.tableHeaderCell {
    font-weight: bold;
    background-color: #f5f5f5;
    position: sticky;
    top: 0;
    z-index: 1;
}

.tableRow:hover {
    background-color: #f5f5f5;
}

.tableContainer {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.table {
    width: 100%;
}

.tableHeader {
    font-weight: bold;
    background-color: #dadada;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Add hover effect for table rows */
.tableRow:hover {
    background-color: #f0f0f0;
    /* Change to your desired hover color */
}

.customFileInput {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease,
}