.documentVersioning {
    padding: 20px;
}

.documentContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
    flex-wrap: wrap;
    position: relative;
    /* To allow absolute positioning of highlights */
}

.document {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    width: 45%;
    /* Make both documents take 45% width to fit side by side */
    max-width: 500px;

    min-width: fit-content;
}

.document h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.error {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
}

.page {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    /* To place highlights within each page */
}

.pageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Prevent overlay from blocking page interactions */
}

.highlight {
    position: absolute;
    pointer-events: none;
    font-weight: bold;
    color: transparent;
    display: inline-block;
    font-size: 0.9em;
    border-radius: 3px;
}

.changesList {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 8px;
}

.changesElement {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    height: fit-content;
    border-radius: 4px;
    margin-top: 5px;
}

.changesHeading {
    background-color: var(--themeColor);
    color: white !important;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 4px;
}

.added {
    color: green;
    font-weight: bold;
}

.removed {
    color: red;
    font-weight: bold;
}

.colorContainer {
    display: inline-block;
    min-height: 13px;
    min-width: 13px;
    margin-right: 3px;
    border: 1px solid lightgray;
}