.DocList {
    list-style: none;
    max-height: 175px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.listDiv {
    display: flex;
    flex-direction: row;
}
.listItem{
    margin-top: 10px;
    display: flex;
    width: 95%;
    justify-content: space-between;

}
.DocList::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* Width of the scrollbar */
}

.DocList::-webkit-scrollbar-thumb {
    background-color: #2196f3;
    /* Color of the thumb */
    border-radius: 6px;
    /* Radius of the thumb */
}

.DocList::-webkit-scrollbar-track {
    background-color: rgb(229, 229, 229);
    /* Color of the track */
    border-radius: 6px;
}