.loginPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/BG-IMAGES/DMS_BG.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
}

/* Login box styles */
.loginBox {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Logo */
.loginLogo h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

/* Form group */
.formGroup {
    margin-bottom: 20px;
}

.textfields {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.errorInput {
    border: 1px solid red !important;
}

/* Error message */
.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Login button */
.loginBtn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginBtn:hover {
    background-color: #45a049;
}

/* Extra links */
.extraLinks {
    margin-top: 20px;
}

.extraLinks a {
    color: #0066cc;
    text-decoration: none;
}

.extraLinks a:hover {
    text-decoration: underline;
}

.pass {
    position: relative;
}

.eyeIcon {
    position: absolute;
    right: 0px;
    padding: 12px;
    /* top: 50%; */
}