:root {
  --border-color: #6C63FF;
  --bg-color: #6C63FF;
  --text-color: #6C63FF
}

.cardDesign {
  border: 1px solid lightgray !important;
  border-radius: 10px !important;
  background-color: white !important;
  padding: 10px !important;
  box-shadow: none !important;
}

.themeColorText {
  color: #6C63FF;
}

.themeColorBg {
  background-color: #6C63FF;
}