.navigationContainer {
    background-color: white;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}